# Visual Studio Temporary Files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual C++ Cache & Logs
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ipch/
*.tlog
*.log
*.aps
*.ncb

# Executables & Debug Symbols
*.exe
*.pdb
*.ilk
*.exp
